@import "vars";
@import "fonts";

body {
	font-size: 13px;
	min-width: 320px;
	position: relative;
	line-height: 18px;
	@include Georgia;
	color: #513a2d;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100vh;
	background: url(../img/bgtop.png) 0 0 no-repeat, url(../img/radial.png) 0 380px no-repeat, #a2745a;
	background-size: 100% 380px, 100%;
}
#inner {
	width: 960px;
	margin: 0 auto;
	background: url(../img/fon.png) top no-repeat, url(../img/fon2.png) bottom no-repeat;
	background-size: 100%, 100% calc(100% - 40px);
	padding: 41px 14px 0;
}
.topbar {
	height: 168px;
	width: 968px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.contacts {
		display: flex;
		flex-direction: column;
		text-align: left;
		&__description {
			color: #a2745a;
			font-size: 25px;
			line-height: 30px;
			display: block;
			padding: 0;

		}
		&__tel {
			font-size: 35px;
			color: #ffd7c1;
			text-decoration: none;
			padding: 0;
			line-height: 30px;
		}
	}
	.search {
		.search-menu {
			text-align: left;
			&__item {

				text-decoration: none;
				line-height: 30px;
				color: #e3bba5;
				&:nth-child(1) {
					padding-right: 10px;
				}
				&:nth-child(3) {
					padding-left: 10px;
				}
				&:nth-child(2) {
					border-left: 1px solid #e3bba5;
					border-right: 1px solid #e3bba5;
					padding-right: 10px;
					padding-left: 10px;
				}
			}
		}
		.search-input {
			input {
				background-color: #000;
				border: 1px solid #a2745a;
				border-radius: 12px;
				outline: none;
				padding: 11px 20px 16px;
				color: #fff;
				&::placeholder {
					color: #a2745a;
				}
			}
		}
	}
}

.header {
		font-weight: 700;
		font-size: 14px;
		line-height: 30px;
		text-transform: uppercase;
		color: #513a2d;
		border-top: 3px dotted #513a2d;
		border-bottom: 3px dotted #513a2d;;
		display: flex;
		padding: 16px 18px;
		margin-bottom: 15px;
		justify-content: space-around;
		background: #f2ded3 url(../img/bghead.png);
		background-origin: padding-box;
		background-clip: padding-box;
		position: relative;
		&::before {
			content:'';
			background-color: #f2ded3;
			top: 0; bottom: 0;
			left: 0; right: 0;
			z-index: 1;
			position: absolute;
			opacity: 0.85;
		}
		.nav-item {
			text-decoration: none;
			display: block;
			color: #513a2d;
			z-index: 2;
		}
		.dotted {
			font-size: 23px;
			z-index: 2;
		}
}

.content {
	padding: 22px;
	padding-bottom: 60px;
	border: 2px dotted #513a2d;
}
.content-header {
	padding-left: 19px;
	height: 325px;
	background: url('../img/bgc.png') 0 0 no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	margin-bottom: 54px; 
	h1 {
		text-shadow: 0 2px 5px rgba(183, 70, 28, 0.5);
		font-size: 60px;
		color: #b98f00;
		line-height: 50px;
	}
	a {
		font-size: 25px;
		color: #3c2219;
		background-color: #fefefe;
		border-radius: 10px;
		padding: 10px 12px;
		text-decoration: none;

	}
	img {
		position: absolute;
		right: 10px;
		bottom: -40px;
	}
}
.content-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	&-menu, &-specials, &-catering {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 295px;
		width: 285px;
		background-size: cover;
		h2 {
			text-transform: uppercase;
			font-size: 35px;
			color: #af182a;
		}
		p {
			color: #513a2d;
			font-size: 13px;
			margin-left: 35px;
			margin-right: 33px;
		}
	}
	&-menu {
		background: url(../img/bgegg.png) 0 0 no-repeat;
		
	}
	&-specials {
		background: url(../img/bgtea.png) 0 0 no-repeat;
	}
	&-catering {
		background: url(../img/bggreen.png) 0 0 no-repeat;
	}
}
.content-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #f4e5dc;
	box-shadow: 0 3px 0 #ad8c79;
	height: 277px;
	padding: 0 25px;
	text-align: left;

	&-items, &-video, &-test {
		flex-basis: 33%;
		h3 {
			font-size: 20px;
			color: #af182a;
			line-height: 30px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	&-items {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			color: #513a2d;
			font-size: 13px;
			line-height: 20px;
			column-count: 2;
		}
	}
	&-video {
		a {
			color: #af182a;
			text-decoration: none;
		}
	}
	&-test {
		blockquote {
			padding: 0;
			margin: 0;
			color: #513a2d;
			font-style: italic;
			margin-bottom: 27px;
		}
		cite {
			font-weight: 700;
			font-style: italic;
		}
	}
}
.social {
	margin: 25px auto;
}
.inner {

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a2745a;
	padding-top: 20px;
}
.social {
	width: 369px;
	height: 34px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	margin-right: -50%;
	background-color: #E6C8B7;
	a img {
		height: 100%;
	}
	img {
		height: 100%;
	}

}
.footer {
	position: relative;
	padding: 45px 22px 0;
	padding-bottom: 0px;

	border: 2px dotted #513a2d;
	border-top: none;

	color: #e2baa4;
	&-copy {
		a {
			color: #f4e5dc;
			text-decoration:none
		}
	}
	&-nav {
		a {color: #e2baa4; text-decoration: none; text-transform: capitalize;}
	}

}

 /* in the end*/
 @import "media";